# Dependências
node_modules/
#pasta de vídeos
uploads/*

# Configurações de IDEs e Editores
.vscode/
.idea/

# Arquivos de Build / Compilação
dist/
build/

# Variáveis de Ambiente e Senhas
.env
.env.local
.env.development

# Logs e Arquivos Temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build / Cache do AdminJS
.adminjs/