.header {
  background-color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
}

.searchContainer {
  flex: 1 0 auto;
}

.noSearchText {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.footer {
  background-color: #000000;
}

@media (max-width: 334px) {
  .searchCardTitle {
    font-size: 16px;
  }
  .searchCardDescription {
    font-size: 14px;
  }
}
